/别人的库
/AIGC/Debug
/AIGC/AIGC.vcxproj.filters
/AIGC/AIGC.vcxproj.user
/AIGC/TidalClient.cpp
/AIGC/TidalClient.h
/AIGC/TidalEnum.h
/AIGC/TidalModel.h
main.exe
.vscode/c_cpp_properties.json
AIGC/main.cpp
tt.py
AIGC/main.cpp
AIGC/ProWin/.vs/ProWin/v16/.suo
AIGC/ProWin/.vs/ProWin/v16/Browse.VC.db
AIGC/ProWin/.vs/ProWin/v16/Browse.VC.db-shm
AIGC/ProWin/.vs/ProWin/v16/Browse.VC.db-wal
AIGC/ProWin/.vs/ProWin/v16/Browse.VC.opendb
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/18a99591ea6bbfb8/MATHHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/273e6ce86d2e2444/PROWIN.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/393223c4641e5c7d/MAIN.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/7f0782dfbba78277/STRINGHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/84995924aae3c2b7/MATHHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/9c3ebaa87bf6bfe2/HTTPHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/dfb397d33f2b4f9c/JSONHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/f24ab2c3f5a37da3/TIMEHELPER.ipch
AIGC/ProWin/Debug/HttpHelper.obj
AIGC/ProWin/Debug/JsonHelper.obj
AIGC/ProWin/Debug/main.obj
AIGC/ProWin/Debug/ProWin.Build.CppClean.log
AIGC/ProWin/Debug/ProWin.exe
AIGC/ProWin/Debug/ProWin.exe.recipe
AIGC/ProWin/Debug/ProWin.ilk
AIGC/ProWin/Debug/ProWin.log
AIGC/ProWin/Debug/ProWin.pdb
AIGC/ProWin/Debug/ProWin.vcxproj.FileListAbsolute.txt
AIGC/ProWin/Debug/StringHelper.obj
AIGC/ProWin/Debug/TimeHelper.obj
AIGC/ProWin/Debug/vc142.idb
AIGC/ProWin/Debug/vc142.pdb
AIGC/ProWin/Debug/ProWin.tlog/CL.command.1.tlog
AIGC/ProWin/Debug/ProWin.tlog/CL.read.1.tlog
AIGC/ProWin/Debug/ProWin.tlog/CL.write.1.tlog
AIGC/ProWin/Debug/ProWin.tlog/link.command.1.tlog
AIGC/ProWin/Debug/ProWin.tlog/link.read.1.tlog
AIGC/ProWin/Debug/ProWin.tlog/link.write.1.tlog
AIGC/ProWin/Debug/ProWin.tlog/ProWin.lastbuildstate
AIGC/main.cpp
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/11082dda8e10bef7/PROPERTYHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/694aed1fbb0a3e55/TYPEHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/cb29a13db2d972aa/TYPEHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/f1496ca3369a2344/PROPERTYHELPER.ipch
AIGC/ProWin/Debug/MathHelper.obj
AIGC/ProWin/Debug/PropertyHelper.obj
AIGC/ProWin/Debug/TypeHelper.obj
AIGC/ProWin/Debug/MathHelper.obj
/AIGC/ProWin/Debug
/AIGC/main.cpp
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/2c3c147d23dcbfb3/MATHHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/8c5838ba10626a57/HTTPHELPER2.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/928e1276e8ef9c58/SYSTEMHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/a34ce8761f42d58/SOCKETHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/b226525906679662/HASHHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/b50f2c4e6b3a0562/PATHHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/b75e0e97cae30117/JSONHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/c0941112250e5995/HASHHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/cf7cfb68f496bb99/HTTPHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/e56230fb3b5b4d0a/GITHUBHELPER.ipch
AIGC/ProWin/.vs/ProWin/v16/ipch/AutoPCH/f8c7abc448eba05f/FILEHELPER.ipch
AIGC/ProWin/x64/Debug/FileHelper.obj
AIGC/ProWin/x64/Debug/HashHelper.obj
AIGC/ProWin/x64/Debug/HttpHelper2.obj
AIGC/ProWin/x64/Debug/JsonHelper.obj
AIGC/ProWin/x64/Debug/MathHelper.obj
AIGC/ProWin/x64/Debug/PathHelper.obj
AIGC/ProWin/x64/Debug/PropertyHelper.obj
AIGC/ProWin/x64/Debug/ProWin.Build.CppClean.log
AIGC/ProWin/x64/Debug/ProWin.exe
AIGC/ProWin/x64/Debug/ProWin.exe.recipe
AIGC/ProWin/x64/Debug/ProWin.ilk
AIGC/ProWin/x64/Debug/ProWin.log
AIGC/ProWin/x64/Debug/ProWin.pdb
AIGC/ProWin/x64/Debug/ProWin.vcxproj.FileListAbsolute.txt
AIGC/ProWin/x64/Debug/RandomHelper.obj
AIGC/ProWin/x64/Debug/SocketHelper.obj
AIGC/ProWin/x64/Debug/StringHelper.obj
AIGC/ProWin/x64/Debug/SystemHelper.obj
AIGC/ProWin/x64/Debug/TimeHelper.obj
AIGC/ProWin/x64/Debug/TypeHelper.obj
AIGC/ProWin/x64/Debug/vc142.idb
AIGC/ProWin/x64/Debug/vc142.pdb
AIGC/ProWin/x64/Debug/ProWin.tlog/CL.command.1.tlog
AIGC/ProWin/x64/Debug/ProWin.tlog/CL.read.1.tlog
AIGC/ProWin/x64/Debug/ProWin.tlog/CL.write.1.tlog
AIGC/ProWin/x64/Debug/ProWin.tlog/link.command.1.tlog
AIGC/ProWin/x64/Debug/ProWin.tlog/link.read.1.tlog
AIGC/ProWin/x64/Debug/ProWin.tlog/link.write.1.tlog
AIGC/ProWin/x64/Debug/ProWin.tlog/ProWin.lastbuildstate
/AIGC/ProWin/x64
/AIGC/ProWin/.vs
/third
/AIGC/.vs
Main.cpp
Lanzouyun/API.cpp
Lanzouyun/Model.h
Music/Enum.h
Music/Interface.h
Music/Model.h
Tidal/TidalClient.cpp
Tidal/TidalClient.h
Tidal/TidalEnum.h
Tidal/TidalModel.h
build/AIGC.sln
build/AIGC.vcxproj
build/AIGC.vcxproj.filters
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/Continuous.vcxproj
build/Continuous.vcxproj.filters
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/DartConfiguration.tcl
build/Experimental.vcxproj
build/Experimental.vcxproj.filters
build/Nightly.vcxproj
build/Nightly.vcxproj.filters
build/NightlyMemoryCheck.vcxproj
build/NightlyMemoryCheck.vcxproj.filters
build/PACKAGE.vcxproj
build/PACKAGE.vcxproj.filters
build/RUN_TESTS.vcxproj
build/RUN_TESTS.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-338d2bcb12d6720d3d65.json
build/.cmake/api/v1/reply/codemodel-v2-5a8900d92021e36a15c0.json
build/.cmake/api/v1/reply/index-2020-12-14T01-54-50-0379.json
build/.cmake/api/v1/reply/target-AIGC-Debug-4f090e506c16967429dc.json
build/.cmake/api/v1/reply/target-AIGC-MinSizeRel-135f2f7e23b54ce3a574.json
build/.cmake/api/v1/reply/target-AIGC-Release-5272ed5adc80ae2a428a.json
build/.cmake/api/v1/reply/target-AIGC-RelWithDebInfo-647191bff3d319a7b4a5.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-d6ffcbc09218a3986ce5.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-d6ffcbc09218a3986ce5.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-d6ffcbc09218a3986ce5.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-d6ffcbc09218a3986ce5.json
build/.cmake/api/v1/reply/target-Continuous-Debug-9c9c6a8c2b008a39bbd5.json
build/.cmake/api/v1/reply/target-Continuous-MinSizeRel-9c9c6a8c2b008a39bbd5.json
build/.cmake/api/v1/reply/target-Continuous-Release-9c9c6a8c2b008a39bbd5.json
build/.cmake/api/v1/reply/target-Continuous-RelWithDebInfo-9c9c6a8c2b008a39bbd5.json
build/.cmake/api/v1/reply/target-Experimental-Debug-1e9b070a923ba4655c55.json
build/.cmake/api/v1/reply/target-Experimental-MinSizeRel-1e9b070a923ba4655c55.json
build/.cmake/api/v1/reply/target-Experimental-Release-1e9b070a923ba4655c55.json
build/.cmake/api/v1/reply/target-Experimental-RelWithDebInfo-1e9b070a923ba4655c55.json
build/.cmake/api/v1/reply/target-Nightly-Debug-cdf44acbfc68a6950594.json
build/.cmake/api/v1/reply/target-Nightly-MinSizeRel-cdf44acbfc68a6950594.json
build/.cmake/api/v1/reply/target-Nightly-Release-cdf44acbfc68a6950594.json
build/.cmake/api/v1/reply/target-Nightly-RelWithDebInfo-cdf44acbfc68a6950594.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-Debug-11b2c357c9694c3687b1.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-MinSizeRel-11b2c357c9694c3687b1.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-Release-11b2c357c9694c3687b1.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-RelWithDebInfo-11b2c357c9694c3687b1.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-ee8512d3d51b9bfccbb7.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-ee8512d3d51b9bfccbb7.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-ee8512d3d51b9bfccbb7.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-ee8512d3d51b9bfccbb7.json
build/AIGC.dir/Debug/AIGC.exe.recipe
build/AIGC.dir/Debug/main.obj
build/AIGC.dir/Debug/vc142.pdb
build/AIGC.dir/Debug/AIGC.tlog/AIGC.lastbuildstate
build/AIGC.dir/Debug/AIGC.tlog/CL.command.1.tlog
build/AIGC.dir/Debug/AIGC.tlog/CL.read.1.tlog
build/AIGC.dir/Debug/AIGC.tlog/CL.write.1.tlog
build/AIGC.dir/Debug/AIGC.tlog/CustomBuild.command.1.tlog
build/AIGC.dir/Debug/AIGC.tlog/CustomBuild.read.1.tlog
build/AIGC.dir/Debug/AIGC.tlog/CustomBuild.write.1.tlog
build/AIGC.dir/Debug/AIGC.tlog/link.command.1.tlog
build/AIGC.dir/Debug/AIGC.tlog/link.read.1.tlog
build/AIGC.dir/Debug/AIGC.tlog/link.write.1.tlog
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.18.3/CMakeCCompiler.cmake
build/CMakeFiles/3.18.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.18.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.18.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.18.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.18.3/CMakeSystem.cmake
build/CMakeFiles/3.18.3/VCTargetsPath.txt
build/CMakeFiles/3.18.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.18.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.18.3/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.18.3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.18.3/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.18.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.18.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.18.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.18.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.18.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.18.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.18.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.18.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.18.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.18.3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.18.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.18.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.18.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.18.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.18.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.18.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.18.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.18.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.18.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.18.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.18.3/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.18.3/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/74c148ffe1e147fb6d82c5a78e468819/Continuous.rule
build/CMakeFiles/74c148ffe1e147fb6d82c5a78e468819/Experimental.rule
build/CMakeFiles/74c148ffe1e147fb6d82c5a78e468819/generate.stamp.rule
build/CMakeFiles/74c148ffe1e147fb6d82c5a78e468819/Nightly.rule
build/CMakeFiles/74c148ffe1e147fb6d82c5a78e468819/NightlyMemoryCheck.rule
build/CMakeFiles/74c148ffe1e147fb6d82c5a78e468819/PACKAGE_force.rule
build/CMakeFiles/74c148ffe1e147fb6d82c5a78e468819/RUN_TESTS_force.rule
build/Debug/AIGC.exe
build/Debug/AIGC.ilk
build/Debug/AIGC.pdb
build/Testing/TAG
build/Testing/20201214-0155/Test.xml
build/Testing/Temporary/CTestCostData.txt
build/Testing/Temporary/LastTest_20201214-0155.log
build/Testing/Temporary/LastTest.log
build/win32/Debug/ALL_BUILD/ALL_BUILD.recipe
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
